<section id="banner">
  {{>_nav}}
  <div class="content container">
    <div class="left">
      <h1>Boas vindas ao <br> Dice Roll!</h1>
      <p>Convide seus amigos para uma sala e rolem seus dados!</p>
      <div class="buttons">
        <button class="button outlined">Ver salas</button>
        <button class="button">Criar uma Sala</button>
      </div>
    </div>
    <div class="right">
      <div class="die-container">
        {{>_die}}
      </div>
    </div>
  </div>
</section>
<section id="rooms" class="container">
  <h2>Public Rooms</h2>
  <ul>
    <li>{{>_roomItem id=1 name="Jogando Umineko" owner="Cellbit"}}</li>
    <li>{{>_roomItem id=2 name="Jogando Dungeons and Dragons" owner="Pedrok"}}</li>
    <li>{{>_roomItem id=3 name="Jogando Dungeons and Dragons" owner="Pedrok"}}</li>
    <li>{{>_roomItem id=4 name="Jogando Dungeons and Dragons" owner="Pedrok"}}</li>
    <li>{{>_roomItem id=5 name="Jogando Dungeons and Dragons" owner="Pedrok"}}</li>
    <li>{{>_roomItem id=6 name="Jogando Dungeons and Dragons" owner="Pedrok"}}</li>
    <li>{{>_roomItem id=7 name="Jogando Dungeons and Dragons" owner="Pedrok"}}</li>
  </ul>
</section>