<section id="banner">
  {{>_nav}}
  <div class="content container">
    <div class="left">
      <h1>Boas vindas ao <br> Dice Roll!</h1>
      <p>Convide seus amigos para uma sala e rolem seus dados!</p>
      <div class="buttons">
        <button class="button outlined">Ver salas</button>
        <button class="button">Criar uma Sala</button>
      </div>
    </div>
    <div class="right">
      <div class="die-container">
        {{>_die}}
      </div>
    </div>
  </div>
</section>