<nav id="main-nav" class="container">
  <a href="/">
  {{>_logo}}
  </a>
  <ul>
    <li>
      <a href="#!">Home</a>
    </li>
    <li>
      <a href="#!">Rooms</a>
    </li>
    <li>
      <a href="#!">About</a>
    </li>
    <li>
      <button class="button">Contact</button>
    </li>
  </ul>
</nav>