<nav id="main-nav" class="container">
  <a href="/">
    {{>_logo showText=true}}
  </a>
  <label for="nav-display" class="main-nav-button">
    <hr>
    <hr>
    <hr>
  </label>
  <input type="checkbox" id="nav-display">
  <ul>
    <label for="nav-display" class="main-nav-button">
      <hr>
      <hr>
    </label>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#rooms">Rooms</a>
    </li>
    <li>
      <a href="#!">About</a>
    </li>
    <li>
      <button class="button">Contact</button>
    </li>
  </ul>
</nav>