<div class="room-item">
  <div class="room-info">
    {{>_logo}}
    <span>Room {{id}}</span>
    <div class="room-details">
      <strong>{{name}}</strong>
      <span>Owner: {{owner}} </span>
    </div>
  </div>
  <div class="room-options">
    <span class="room-users">1/6 
      <div class="user-icon">
        <div class="user-head"></div>
        <div class="user-body"></div>
      </div>
    </span>
    <button class="button inverted">join</button>
  </div>
</div>