.room-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 16px 0px;
}

.room-item .room-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.room-item .room-info > span {
  width: 120px;
}
.room-item .logo-container {
  --color: #2e2e2e;
  margin-right: 8px;
}
.room-item .logo-container > span {
  display: none;
}
.room-item .room-details {
  display: flex;
  flex-direction: column;
}
.room-item .room-details strong {
  color: #171717;
}
.room-item .room-details span {
  font-size: 14px;
  color: #2e2e2e;
}

.room-item .room-users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  color: #2e2e2e;
  font-weight: 500;
}
.room-item .room-options {
  display: flex;
  flex-direction: row;
}
